*{
    -webkit-box-sizing : border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width:1.1rem;
   }
  
  ::-webkit-scrollbar-track {
   background: rgb(177, 184, 187);
   box-shadow: inset 0 0 20px black;
    }
  
  ::-webkit-scrollbar-thumb {
   background: linear-gradient(to top,#ee9ca7,#ffdde1);
   border-radius: 20px;
   box-shadow: inset 0 0 10px rgb(236, 148, 174);
  }
  ::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(to right,#ee9ca7,#ffdde1);
  }
 
  
  /* for Firefox */
   html {scrollbar-color: #ffdde1 rgb(82, 79, 79)  ;}
  
body{
    background-image: url(pattern_memphis-2_1_2_0-0_0_1__ffffff_805ad5_e91e63_03a9f4.png);
    background-position: center;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
/* end global rules */
/* start app_fullscreen */
.app_fullscreen{
    display: none;
    background-color: rgba(255, 255, 255, 0.527);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 99;
    transition: .5s;
}
.app_fullscreen .container{
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
gap: 40px;
position: relative;
animation: start 2s 1 linear;
}
@media (max-width:600px) {
   .app_fullscreen .container{
        justify-content: center;
        flex-direction: column;
    }
}

.app_fullscreen #cross{
    display: block;
    font-size: 20px;
    cursor: pointer;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(52, 55, 56);
    transition: .5s;
}
.app_fullscreen #cross:hover{
    color:#fff;
    background-color: rgb(218, 99, 99);
}
.app_fullscreen #section{
    background: linear-gradient(to left,pink,rgb(131, 51, 88));
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 10px;
    box-shadow: 0 0 10px rgb(82, 24, 48);
    gap: 35px;
    order: -1;
}
@media (max-width:600px) {
    .app_fullscreen #section{
        flex-direction: column;
        padding: 25px;
        text-align: center;
    }
}
.app_fullscreen #section .text {
    text-align: center;
}
.app_fullscreen #section .btn{
    all: unset;
    background-color: rgb(58, 54, 54);
    padding:  15px;
    color: white;
    font-family: sans-serif;
    cursor: pointer;
    font-size: 14px;
    border-radius: 10px;
    transition: .5s;
}

.app_fullscreen #section .btn:hover{
  color: #1c1d1d;
  background-color: rgb(233, 220, 220);
}
/* end app_fullscreen */
/* start header */
header{
    width:100%;
    height:100px;
    background-color: rgba(240, 248, 255, 0.801);
    box-shadow: inset 0 0 10px rgb(210, 244, 253);
    border-radius:0 0 40px 40px;
    padding: 30px 70px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 600;
    border-bottom: 10px solid rgba(79, 156, 187, 0.849);
}
header .title{
    animation: momo 2s 1 ease-in ;
}
/* end header */
/* star encoding */
#select{
    all: unset;
    display: block;
    width: 90%;
    margin: 40px  auto;
    height:30px;
    border-radius: 15px;
    background-color: rgb(195, 195, 207);
    box-shadow:  0 0 10px rgb(51, 49, 49);
    padding: 8px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}
#textarea{
    all: unset;
    padding:20px 30px;
    font-size: 22px;
    font-family:monospace ;
    display: block;
    width:80%;
    height: 300px;
    margin:50px auto;
    border-radius: 20px;
    border:0;
    background: linear-gradient(45deg,#4CA1AF,#C4E0E5);
    box-shadow:0 0 10px rgb(51, 49, 49);
    animation: radius 10s infinite linear;
}
#p{
    position: relative;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    width:90%;
    margin:40px auto;
    background-color:rgb(195, 195, 207) ;
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(29, 28, 28);
    z-index: 1;
}
#p::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: rgb(161 160 160 / 22%);
    z-index: -1;
    transition: .7s;
}
#p:hover::before{
    width: 100%;
}
#result{
    padding:20px 30px;
    font-size: 22px;
    font-family:monospace ;
    display: block;
    width:80%;
    height: 300px;
    margin:50px auto;
    border-radius: 20px;
    border:0;
    background: linear-gradient(45deg,#4CA1AF,#C4E0E5);
    box-shadow:0 0 10px rgb(51, 49, 49);
    animation: radius 10s infinite linear;
}
/* end encoding */
/* start animation */
@keyframes start{
    0%{
        left:-60%;
    }
    100%{
        left:0;
    }
}
@keyframes momo{
    0%{
        transform: translateX(-100px);
    }
    60%{
        transform: translateX(100px);
        letter-spacing: 4px;
        color:rgb(248, 175, 175);
    }
   
    100%{
        transform: translateX(0);
    }
}
@keyframes radius{
    50%{
        border-radius: 50px;
    }
}
/* end animation */
